.curiosidades {
    padding: 5.6vw;

    @media (max-width:1023px){
        margin-bottom: -450px;
    }

    @media (max-width: 767px){
        margin-bottom: 50px;
    }

    


    h2{
        text-align: left;
        margin-bottom: 24px;
    }

    &__perguntas {

        &__curiosidade{
            background-color: #13151d;
            margin-bottom: 16px;
            list-style: none;
            border-radius: 8px;

            &__pergunta {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;

                }
            }

            &__resposta {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;
                
                ul{
                    margin-top: 16px;
                    padding-left: 40px;

                    li{
                        list-style: disc;
                        margin-bottom: 16px;
                    }
                }
            }

            &--ativa {
                .curiosidades__perguntas__curiosidade__pergunta::after{
                    content: '-';
                }

                .curiosidades__perguntas__curiosidade__resposta {
                height: auto;
                padding-bottom: 24px;
                transition: height, .5s ease;
                }
            }
        }
    }
}