@use 'variaveis.scss';

.menu{
    
    padding: 15px;
    position: fixed;
    background-image: transparent;
    top: 0;
    left: 0;
    z-index: 1000000000;

    &__itens{
        display: flex;
        &__item{
            padding-left: 20px;
            list-style: none;
            &__links{
                text-decoration: none;
                font-family: Secular One, sans-serif;
                position: relative;
                &:hover{
                    color: variaveis.$fontColorSecundary;
                }

                &::after{
                    content: ' ';
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    color: variaveis.$fontColorSecundary;
                    width: 75%;
                    height: 2px;
                    background-color:#f37703;
                    transform: scale(0);
                    transition-duration: 0.4s;

                }

                &:hover::after{
                    transform: scale(1);
                    transition-duration: 0.4s;

                }
            }

        }
        
        
    }
    }