@use 'variaveis';

.time7{
    height: 100vh;
    padding-top: 100px;

    h2{
        margin-bottom: 20px;
    }

    &__cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: 20px;
        margin-top: 40px;

        &__card{
            width: 95%;
            border-radius: 15px;
            overflow: hidden;
            transform: scale(1);
            transition-duration: 0.4s;

            &:hover{
                transform: scale(1.1);
                transition-duration: 0.4s;
            }
            

            img{
                width: 100%;
            }
        }
    }
}