@use 'menu';
@use 'hero';
@use 'variaveis.scss';
@use 'reset';
@use 'time7';
@use 'curiosidades';
@use 'wallpapers';



body {
    background-color: variaveis.$bgColor;

    section{
        height: 100vh;
    }
    
}


@mixin text ($fontSize: 18px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$fontColorPrimary
}

@mixin title ($fontSize: 48px){
    @include text($fontSize);
    color: variaveis.$fontColorSecundary

    
}

.text {
    @include text;
    font-family: Rubik, sans-serif;
    text-indent: 20px;
}

.text--small {
    @include text(18px);
    font-family: Rubik, sans-serif;
}

.title {
    @include title;
    font-family: Secular One, sans-serif;
}

.title--small {
    @include title(22px);
    font-family: Secular One, sans-serif;
}



