@use 'hero';
@use 'variaveis.scss';
@use 'reset';
@use 'time7';



body {
    background-color: variaveis.$bgColor;
}

@mixin text ($fontSize: 24px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$fontColorPrimary
}

@mixin title ($fontSize: 48px){
    @include text($fontSize);
    color: variaveis.$fontColorSecundary

}

.text {
    @include text;
    font-family: Rubik, sans-serif;
}

.title {
    @include title;
    font-family: Secular One, sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.menu{
    z-index: 10;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;

    &__itens{
        display: flex;
        &__item{
            padding-left: 20px;
            list-style: none;
            &__links{
                text-decoration: none;
                font-family: Secular One, sans-serif;
                position: relative;
                &:hover{
                    color: variaveis.$fontColorSecundary;
                }

                &::after{
                    content: ' ';
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    color: variaveis.$fontColorSecundary;
                    width: 75%;
                    height: 2px;
                    background-color:#f37703;
                    transform: scale(0);
                    transition-duration: 0.4s;

                }

                &:hover::after{
                    transform: scale(1);
                    transition-duration: 0.4s;

                }
            }

        }
        
        
    }
    }


